[Unit] 
Description=Gunicorn server for SITENAME 

[Service]
Restart=on-failure
User=alex
WorkingDirectory=/home/alex/sites/SITENAME/source
ExecStart=/home/alex/sites/SITENAME/virtualenv/bin/gunicorn \
	--bind unix:/tmp/SITENAME.socket \ 
	megalists.wsgi:application
[Install]
WantedBy=multi-user.target
